pkgbase = rebuild-check-hook
	pkgdesc = Pacman hook to consolidate anneal and rebuild-detector outputs and trigger rebuilds
	pkgver = 1.0.0
	pkgrel = 4
	url = https://github.com/Vikyek/rebuild-check-hook
	install = rebuild-check-hook.install
	arch = any
	license = GPL
	depends = anneal
	depends = rebuild-detector
	depends = bash
	source = rebuild-check
	source = rebuild-check.hook
	sha256sums = d9c924187e57452b1f99e7bcbb92a4cb244ba500928b79a110b979ba6e925547
	sha256sums = d3e3cef223f8f056aa13d24c77b509111e036f1da57af1ac107583b4c5639da4

pkgname = rebuild-check-hook
